* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background: #2B4141;
  color: white;
}

.app-title {
  background: #8AB9B5;
  padding: 20px 0;
  margin: 0;
}

.Controls-Wrapper {
  display: flex;
  justify-content: space-evenly;
}

.Controls {
  font-size: 1.7rem;
}

.Controls button {
  background: transparent;
  border: none;
  font-size: 1.7rem;
  padding: 10px;
}

.Display {
  width: 450px;
  padding: 20px;
  border: 2px solid #8AB9B5;
  margin: 30px auto;
  border-radius: 4px;
  box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.3);
  font-size: 3.2rem;
}

.Display p {
  margin: 0 0 20px;
}

button {
  cursor: pointer;
}
.start_stop {
  border: 2px solid #8AB9B5;
  padding: 5px 15px;
  background: transparent;
  color: #8AB9B5;
  font-size: 1.6rem;
  border-radius: 4px;
  margin-right: 20px;
}

.reset {
  margin-left: 20px;
  font-size: 1.6rem;
  border-radius: 4px;
  background: #DB324D;
  color: white;
  padding: 5px 10px;
  border: none;
}









